{% extends '_base.html' %}
{% load staticfiles %}
{% load utils_extras %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Ma physiologie</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'menus.views.regimes' %}" class="btn btn-primary pull-right">
                        Mes régimes <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix"></header>
            <div class="main-box-body clearfix">
                <form class="form-horizontal" name="physiology" action="{% url 'menus.views.physiology' %}" method="POST">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Nom du profil</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nom du profil">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">Sexe</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="sex" name="sex">
                                <option value="man">Homme</option>
                                <option value="woman">Femme</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <select class="form-control" id="age" name="age">
                                    {% for i in 6|range_to:150 %}
                                        <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-addon" id="age">ans</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="col-sm-2 control-label">Poids</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <select class="selectpicker form-control" id="weight" name="weight" aria-describedby="weight-addon">
                                    {% for i in 30|range_to:150 %}
                                        <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-addon" id="weight">kg</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="col-sm-2 control-label">Taille</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <select class="form-control" id="height" name="height">
                                    {% for i in 10|stepped_range_to:25 %}
                                        <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-addon" id="weight">m</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".dropdown-menu li a").click(function(){
                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).text());
            });
        });


        // AJAX for posting
        function update_physio(data_dico) {
            console.log("sanity check") // sanity check
            $.ajax({
                url : '{% url 'menus.views.update_physio' %}', // the endpoint
                type : "POST", // http method
                data : data_dico, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };

        $('#sex').on('change', function(e) {
            var data_dico = { sex : $( "#sex option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#age').on('change', function(e) {
            var data_dico = { age : $( "#age option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#height').on('change', function(e) {
            var data_dico = { height : $( "#height option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#weight').on('change', function(e) {
            var data_dico = { weight: $( "#weight option:selected" ).val() };
            update_physio(data_dico);
        });

    </script>
{% endblock %}
