{% extends '_base.html' %}
{% load staticfiles %}

{% block css %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />-->
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if not user.is_authenticated %}
            <nav>
                <ul class="pager">
                    <li class="next"><a href="{% url 'menus.views.regimes' %}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            {% endif %}
            <h2>Ma physiologie</h2>
        </div>
        <div class="panel-body">

            <form class="form-horizontal" name="physiology" action="{% url 'menus.views.physiology' %}" method="POST">
                 <div class="form-group">
                     <label for="username" class="col-sm-2 control-label">Nom du profil</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Nom du profil">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sexe</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="sex" name="sex">
                          <option value="1">Homme</option>
                          <option value="2">Femme</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">Age</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control" id="age" name="age">
                                {% for i in ages %}
                                    <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-addon" id="age">ans</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="col-sm-2 control-label">Poids</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="selectpicker form-control" id="weight" name="weight" aria-describedby="weight-addon">
                              <option>45</option>
                              <option>50</option>
                              <option>55</option>
                              <option>60</option>
                              <option>65</option>
                            </select>
                            <span class="input-group-addon" id="weight">kg</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                     <label for="height" class="col-sm-2 control-label">Taille</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control" id="height" name="height">
                              <option>1.50</option>
                              <option>1.60</option>
                              <option>1.70</option>
                              <option>1.80</option>
                              <option>1.90</option>
                            </select>
                            <span class="input-group-addon" id="weight">m</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".dropdown-menu li a").click(function(){
                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).text());
            });
        });


        // AJAX for posting
        function update_physio(data_dico) {
            console.log("sanity check") // sanity check
            $.ajax({
                url : '{% url 'menus.views.update_physio' %}', // the endpoint
                type : "POST", // http method
                data : data_dico, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };

        $('#sex').on('change', function(e) {
            var data_dico = { sex : $( "#sex option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#age').on('change', function(e) {
            var data_dico = { age : $( "#age option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#height').on('change', function(e) {
            var data_dico = { height : $( "#height option:selected" ).val() };
            update_physio(data_dico);
        });
        $('#weight').on('change', function(e) {
            var data_dico = { weight: $( "#weight option:selected" ).val() };
            update_physio(data_dico);
        });

    </script>
{% endblock %}
