{% extends 'dashboard.html' %}

{% block css %}{% endblock %}

{% block dashboardcontent %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if not user.is_authenticated %}
            <nav>
                <ul class="pager">
                    <li class="next"><a href="{% url 'menus.views.regimes' %}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            {% endif %}
            <h2>Ma physiologies</h2>
        </div>
        <div class="panel-body">

            <form class="form-horizontal" name="physiology" action="{% url 'menus.views.preferences' %}" method="POST">
                 <div class="form-group">
                     <label for="username" class="col-sm-2 control-label">Nom du profil</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="username" name="username" placeholder="nom du profil">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="sex" name="sex">
                          <option>Homme</option>
                          <option>Femme</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="col-sm-2 control-label">Poids</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="weight" name="weight">
                          <option>45</option>
                          <option>50</option>
                          <option>55</option>
                          <option>60</option>
                          <option>65</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                     <label for="height" class="col-sm-2 control-label">Taille</label>
                    <div class="col-sm-2">
                          <select class="form-control" id="height" name="height">
                          <option>1.50</option>
                          <option>1.60</option>
                          <option>1.70</option>
                          <option>1.80</option>
                          <option>1.90</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Sauvegarder</button>
                    </div>
                  </div>
            </form>
        </div>
        <div class="panel-footer">
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".dropdown-menu li a").click(function(){

            $(".btn:first-child").text($(this).text());
            $(".btn:first-child").val($(this).text());

            });
        });

    </script>
{% endblock %}