{% extends 'dashboard.html' %}

{% block css %}{% endblock %}

{% block dashboardcontent %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if not user.is_authenticated %}
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="{% url 'menus.views.regimes' %}" ><span aria-hidden="true">&larr;</span> Mes régimes</a></li>
                        <li class="next"><a href="{% url 'menus.views.generate' %}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            {% endif %}
            <h2>Mes goûts</h2>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Aliment ou groupe d'aliments">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Rechercher</button>
                    </span>
                </div>
                <br>
                <hr>
                <div class="row">
                <div class="col-lg-8">
                <ul id="aliments" class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Eau</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Chocolat</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Tagliatelles</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Dinde</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Poulet</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Boeuf</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Jambon</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Sucre</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Semoule</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Riz</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Spaghetti</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Lasagnes</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Framboise</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Fraise</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Cerise</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Groseille</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Pomme</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Poire</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Ananas</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Courgette</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Carotte</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Aubergine</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Tomate</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Radis</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Lait</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Oeuf</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Myrtille</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Farine</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Abricot</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Ail</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Oignon</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Saumon</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Beurre</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Fromage</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Fruits</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Légumes</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Viande</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Poisson</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Menthe</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Thym</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Huile de tournesol</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Basilique</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Petits pois</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Haricots verts</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                           <span class="name">Pomme de terre</span>
                        </div>
                        <div class="col-md-6 text-right">
                           <button type="button" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                           </button>
                        </div>
                      </div>
                    </li>
                </ul>
                </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Ma liste noire</h3></div>
                    <div class="panel-body">

                        <ul id="unliked-aliments" class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
            var $rows = $('#aliments li');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                console.log(val);

                $rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });


            $("#aliments").on('click', 'li button', function(){
                console.log($(this).firstElementChild);
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-success');
                $(this).children().first().removeClass('glyphicon-thumbs-down');
                $(this).children().first().addClass('glyphicon-thumbs-up');
                $(this).closest('li').prependTo("#unliked-aliments");
            });

            $("#unliked-aliments").on('click', 'li button', function(){
                $(this).removeClass('btn-success');
                $(this).addClass('btn-danger');
                $(this).children().first().removeClass('glyphicon-thumbs-up');
                $(this).children().first().addClass('glyphicon-thumbs-down');
                $(this).closest('li').prependTo("#aliments");
            });

    </script>

{% endblock %}
