{% extends '_base.html' %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Mes goûts</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'menus.views.regimes' %}" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i> Mes régimes
                    </a>
                    <a href="{% url 'menus.views.generate' %}" class="btn btn-primary">
                        Génération <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="main-box clearfix">
                <p></p>
                <div class="main-box-body clearfix">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Aliment ou groupe d'aliments">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Rechercher</button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8">
                        <ul id="liked-aliments" class="list-group">
                            {% for aliment in request.session.liked_aliments %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="name">{{ aliment }}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Ma liste noire</header>
                <div class="main-box-body clearfix">
                    <ul id="disliked-aliments" class="list-group">
                        {% for aliment in request.session.disliked_aliments %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="name">{{ aliment }}</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" class="btn btn-success btn-sm">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var $rows = $('#aliments li');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            console.log(val);

            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        $("#liked-aliments").on('click', 'li button', function(){
            $(this).removeClass('btn-danger');
            $(this).addClass('btn-success');
            $(this).children().first().removeClass('glyphicon-thumbs-down');
            $(this).children().first().addClass('glyphicon-thumbs-up');
            $(this).closest('li').prependTo("#disliked-aliments");
            
        });

        $("#disliked-aliments").on('click', 'li button', function(){
            $(this).removeClass('btn-success');
            $(this).addClass('btn-danger');
            $(this).children().first().removeClass('glyphicon-thumbs-up');
            $(this).children().first().addClass('glyphicon-thumbs-down');
            $(this).closest('li').prependTo("#liked-aliments");
        });
    </script>

{% endblock %}
