{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>{{ request.user.account.profile.name }}</h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="profile-status">
                        <i class="fa fa-circle"></i> Online
                    </div>
                    <ul class="widget-products">
                        <li>
                            <a href="{% url 'profile' request.user.account.profile.pk %}">
                                <span class="img">
                                    <img src="{% static 'vendor/img/default-avatar.png' %}" alt="">
                                </span>
                                <span class="product clearfix">
                                    <span class="name">Mon Profil</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <img src="{{ request.user.profile.image.url }}" alt="" class="profile-img img-responsive center-block">
                    <div class="profile-since">
                        Membre depuis le {{ request.user.date_joined | date:"d F Y" }}
                    </div>
                </div>
            </div>

            <div class="add-profile pull-right hidden-xs">
                <a href="{% url 'profile_new' %}"
                   role="button"
                   data-toggle="modal"
                   data-target="#profile-modal"
                   class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle fa-lg"></i>
                    Nouveau profil
                </a>
            </div>
            <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center modal-md">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                </header>
                <div class="main-box-body clearfix">
                    <ul class="widget-products guests">
                        <span id="guests-top"></span>
                        {% for profile in guests %}
                            {% include 'profiles/guests/guest.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% comment %}<div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>Amis</h2>
                </header>
                <div class="main-box-body clearfix">
                    <ul class="widget-products">
                        <li>
                            <a href="#">
                                <span class="img">
                                    <img src="{% static 'vendor/img/default-avatar.png' %}" alt="">
                                </span>
                                <span class="product clearfix">
                                    <span class="name">Kiyoaki</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>{% endcomment %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-physio" data-toggle="tab">Physiologie</a></li>
                        <li><a href="#tab-regimes" data-toggle="tab">Régimes</a></li>
{% comment %}
                        <li><a href="#tab-tastes" data-toggle="tab">Goûts</a></li>
{% endcomment %}
                        {% if user.account.profile.pk != pk  %}
                            <li class="pull-right">
                                <a href="{% url 'profile_remove' pk %}"
                                   role="button"
                                   data-toggle="modal"
                                   data-target="#profile-modal"
                                   class="table-link danger">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </li>
                        {% else %}
                            <li><a href="#tab-account" data-toggle="tab">Compte</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-physio">
                            {% include 'profiles/physiology_ajax.html' %}
                        </div>
                        <div class="tab-pane fade" id="tab-regimes">
                            {% include 'profiles/regimes_ajax.html' %}
                        </div>
                        <div class="tab-pane clearfix fade" id="tab-tastes">
                        </div>
                        <div class="tab-pane fade" id="tab-account">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% include 'profiles/physiology.js.html' %}
{% endblock js %}

{% block css %}
    {% include 'profiles/physiology.css.html' %}
{% endblock css %}