{% load staticfiles %}
{% load utils_extras %}
{% load l10n %}

<div class="main-box clearfix">
    <header class="main-box-header clearfix"></header>
    <div class="main-box-body clearfix">
        <form class="form-horizontal" name="physiology" action="{% url 'physiology' %}" method="POST">

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Profil de </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom du profil" value="{{ physio.name }}">
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">Sexe</label>
                <div class="col-sm-2">
                    <input type="radio" name="sex" class="sex" value="man" {% if physio.sex == 'man' %}checked{% endif %}> <i class="fa fa-male fa-3x"></i>
                    <input type="radio" name="sex" class="sex" value="woman" {% if physio.sex == 'woman' %}checked{% endif %}> <i class="fa fa-female fa-3x"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{ physio.birthday }}" id="birthday" name="birthday" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="weight" class="col-sm-2 control-label">Poids</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="weight" name="weight" type="text"/><br/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">Taille</label>

                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="height" name="height" type="text"/><br/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="activity" class="col-sm-2 control-label">Activité</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="activity" name="activity" type="text"/><br/>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>