{% load staticfiles %}
{% load l10n %}

<script>
    $(function () {
        $(".dropdown-menu li a").click(function () {
            var buttonFirstChild = $(".btn:first-child");
            buttonFirstChild.text($(this).text());
            buttonFirstChild.val($(this).text());
        });
    });

    // AJAX for posting
    function update_physio(data_dico) {
        data_dico['pk'] = '{{ pk }}';
        $.ajax({
            url: '{% url 'update_physio' %}', // the endpoint
            type: "POST", // http method
            data: data_dico, // data sent with the post request
            // handle a successful response
            success: function (json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) { //TODO Kyo Display err, or at least remove parameter
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                // TODO Kyo : Cleanup and/or extract a method to avoid copy/paste (see tastes.html)
            }
        });
    }

    var delay_after_last = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        }
    })();

    function update_diet(diet) {
        delay_after_last(function () {
            var profileId = {{ profile.pk }};
            var dietDivs = $('div.regime.checkbox');
            var diets = [];

            dietDivs.each(function () {
                var diet = $(this);
                var id = diet.data('diet');
                var checked = diet.find('input[type=checkbox]').prop('checked');
                diets.push({id: id, checked: checked});
            });

            diets = JSON.stringify(diets);
            var data_dico = {
                'diets': diets,
                'pk': profileId
            };

            $.ajax({
                url: '{% url 'update_profile' %}',
                type: "POST",
                data: data_dico,
                success: function () {
                    console.log("Updated diets for profile " + profileId + ".");
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                    console.log(err, +": " + errmsg);
                }
            });
        }, 3000);
    }

</script>

{% comment %} SLIDERS {% endcomment %}
<script src="{% static 'bootstrap-slider/bootstrap-slider.min.js' %}"></script>
<script>
        var low = 0;
        var light = 1;
        var moderate = 2;
        var active = 3;
        var extreme = 4;

        var activity_values = {
            0: 'sédentaire',
            1: 'légèrement actif',
            2: 'modérément actif',
            3: 'très actif',
            4: 'extrèmement actif'
        };
        var activity_details = {
            0: '',
            1: 'légèrement actif (pas ou peu d\'exercice)',
            2: 'modérément actif (exercice modéré 3 à 5 fois par semaine)',
            3: 'très actif (activité ou sport intense 6 à 7 fois par semaine)',
            4: 'extremement actif (sport extrème ou travail physique ou entrainements 2 fois par jour)'
        };
        var activity_slider = $('#activity').slider({
            min: 0,
            max: 4,
            value: {{ physio.activity }},
            step: 1,
            focus: true,
            formatter: function (value) {
                return activity_values[value];
            }
        });
        activity_slider.on('change', function (e) {
            var data_dico = {activity: activity_slider.slider('getValue')};
            update_physio(data_dico);
        });

        var height_slider = $('#height').slider({
            min: 0.5,
            max: 2.3,
            value: {{ physio.height | unlocalize }},
            step: 0.1,
            focus: true,
            formatter: function (value) {
                return value + 'm';
            }
        });
        height_slider.on('change', function (e) {
            var data_dico = {height: height_slider.slider('getValue')};
            update_physio(data_dico);
        });

        var weight_slider = $('#weight').slider({
            min: 40,
            max: 120,
            value: {{ physio.weight }},
            step: 5,
            focus: true,
            formatter: function (value) {
                return value + 'kg';
            }
        });
        weight_slider.on('change', function (e) {
            var data_dico = {weight: weight_slider.slider('getValue')};
            update_physio(data_dico);
        });

    </script>


<script>

    $('#name').on('change', function (e) {
        var data_dico = {name: $("#name").val()};
        update_physio(data_dico);
    });
    $('.sex').on('change', function (e) {
        var data_dico = {sex: $('input[name=sex]:checked').val()};
        update_physio(data_dico);
    });
    {% comment %}$('#height').on('change', function (e) {
        var data_dico = {height: $("#height").slider('getValue')};
        update_physio(data_dico);
    });
    $('#weight').slider().on('slide', function (e) {
        var data_dico = {weight: weight_slider.slider('getValue')};
        update_physio(data_dico);
    });
    $('#activity').on('change', function (e) {
        var data_dico = {activity: $("#activity").slider('getValue')};
        update_physio(data_dico);
    });{% endcomment %}

</script>

{% comment %} DATEPICKERS {% endcomment %}
<script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'datepicker/js/bootstrap-datepicker.fr.js' %}" charset="UTF-8"></script>
<script>
    $(function () {
        $('#birthday').datepicker({
            language: 'fr',
            format: 'dd-mm-yyyy',
            weekStart: 1,
            viewMode: 'years'
        })
    });
    $('#birthday').on('change', function (e) {
        var data_dico = {birthday: $("#birthday").val()};
        update_physio(data_dico);
    });
</script>
