{% extends '_base.html' %}
{% load staticfiles %}
{% load utils_extras %}
{% load l10n %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"></ol>
                <h1>Ma physiologie</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'regimes' %}" class="btn btn-primary pull-right">
                        Mes régimes <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix"></header>
            <div class="main-box-body clearfix">
                <form class="form-horizontal" name="physiology" action="{% url 'physiology' %}" method="POST">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nom du profil</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nom du profil" value="{{ physio.name }}">
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">Sexe</label>

                        <div class="col-sm-2">
                            <i class="fa fa-female fa-3x"></i>
                            <i class="fa fa-male fa-3x"></i>
                            <select class="form-control" id="sex" name="sex">
                                <option value="0" {% if physio.sex == 0 %}selected="selected"{% endif %}>Homme</option>
                                <option value="1" {% if physio.sex == 1 %}selected="selected"{% endif %}>Femme</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="col-sm-2 control-label">Date de naissance</label>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{ physio.birthday }}" id="birthday" name="birthday" >
                                {% comment %}<input type="text" class="form-control" id="birthday" name="birthday" placeholder="Age" value="{{ physio.birthday }}">{% endcomment %}
                            </div>
                        </div>
                    </div>
                    {{ physio.weight }}
                    <div class="form-group">
                        <label for="weight" class="col-sm-2 control-label">Poids</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input id="weight" name="weight" type="text"/><br/>
                                {% comment %}
                                <input id="weight" name="weight" class="form-control" data-slider-id='weight' type="text" data-slider-min="0" data-slider-max="120" data-slider-step="5" data-slider-value="{{ physio.weight }}" />
{% endcomment %}
                                {% comment %}<input type="text" class="form-control" id="weight" name="weight" placeholder="Poids" value="{{ physio.weight }}">
                                <span class="input-group-addon" id="weight">kg</span>{% endcomment %}
                            </div>
                        </div>
                    </div>
                    {{ physio.height | unlocalize }}
                    <div class="form-group">
                        <label for="height" class="col-sm-2 control-label">Taille</label>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input id="height" name="height" type="text"/><br/>
                                {#                                <input type="text" class="form-control" id="height" name="height" placeholder="Taille" value="{{ physio.height }}"> #}
                                {% comment %}
                                <input class="form-control" id="height" name="height" data-slider-id='height' data-slider-orientation="vertical" type="text" data-slider-min="0.5" data-slider-max="2.3" data-slider-step="0.1" data-slider-value="{{ physio.height | unlocalize }}" />
{% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="activity" class="col-sm-2 control-label">Activité</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control" id="activity" name="activity" data-slider-id='activity' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" />
                                {#                                <input id="activity" name="activity" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="{{ physio.activity }}" />#}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $(".dropdown-menu li a").click(function () {
                var buttonFirstChild = $(".btn:first-child");
                buttonFirstChild.text($(this).text());
                buttonFirstChild.val($(this).text());
            });
        });

        // AJAX for posting
        function update_physio(data_dico) {
            $.ajax({
                url : '{% url 'update_physio' %}', // the endpoint
                type : "POST", // http method
                data : data_dico, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) { //TODO Kyo Display err, or at least remove parameter
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    // TODO Kyo : Cleanup and/or extract a method to avoid copy/paste (see tastes.html)
                }
            });
        }
    </script>

    {% comment %} SLIDERS {% endcomment %}
    <script src="{% static 'bootstrap-slider/bootstrap-slider.min.js' %}"></script>
    <script>
        var activity_slider = $('#activity').slider({
            formatter: function(value) {
                return 'Activité ' + value;
            }
        });
        var height_slider = $('#height').slider({
            min: 0.5,
            max: 2.3,
            value: {{ physio.height | unlocalize }},
            step: 0.1,
            focus: true,
            orientation: 'vertical',
            reversed : true,
            formatter: function(value) {
                return 'Taille : ' + value + 'm';
            }
        });
        height_slider.on('change', function (e) {
            var data_dico = {height: height_slider.slider('getValue') };
            update_physio(data_dico);
        });

        var weight_slider = $('#weight').slider({
            min: 40,
            max: 120,
            value: {{ physio.weight }},
            step: 5,
            focus: true,
            formatter: function(value) {
                return 'Poid: ' + value + 'kg';
            }
        });
        weight_slider.on('change', function (e) {
            var data_dico = {weight: weight_slider.slider('getValue') };
            update_physio(data_dico);
        });

    </script>


    <script>

        $('#name').on('change', function (e) {
            var data_dico = {name: $("#name").val()};
            update_physio(data_dico);
        });
        $('#sex').on('change', function (e) {
            var data_dico = {sex: $('select#sex option:selected').val()};
            update_physio(data_dico);
        });
        {% comment %}$('#height').on('change', function (e) {
            var data_dico = {height: $("#height").slider('getValue')};
            update_physio(data_dico);
        });
        $('#weight').slider().on('slide', function (e) {
            var data_dico = {weight: weight_slider.slider('getValue')};
            update_physio(data_dico);
        });
        $('#activity').on('change', function (e) {
            var data_dico = {activity: $("#activity").slider('getValue')};
            update_physio(data_dico);
        });{% endcomment %}

    </script>

    {% comment %} DATEPICKERS {% endcomment %}
    <script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'datepicker/js/bootstrap-datepicker.fr.js' %}" charset="UTF-8"></script>
    <script>
        $(function(){
            $('#birthday').datepicker({
                language: 'fr',
                format: 'dd-mm-yyyy',
                weekStart: 1,
                viewMode: 'years'
            })
        });
        $('#birthday').on('change', function (e) {
            var data_dico = {birthday: $("#birthday").val()};
            update_physio(data_dico);
        });
    </script>
{% endblock js %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap-slider/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'datepicker/css/datepicker.css' %}">
{% endblock css %}