<div class="main-box clearfix">
    <div class="main-box-body clearfix">
        <div class="col-md-6">
            <h3>Santé</h3>
            {% if health_regimes_list %}
                <ul>
                    {% for regime in health_regimes_list %}
                        <div class="checkbox regime" data-diet="{{ regime.pk }}" onclick="update_diet(this)">
                            <label><input type="checkbox" value="">{{ regime.name }}</label>

                            <div class="regime_desc"><em>{{ regime.description }}</em></div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun régime de ce type disponible pour le moment</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Valeurs</h3>
            {% if value_regimes_list %}
                <ul>
                    {% for regime in value_regimes_list %}
                        <div class="checkbox regime" data-diet="{{ regime.pk }}" onclick="update_diet(this)">
                            <label><input type="checkbox" value="" {% if regime.active %}
                                          checked="checked" {% endif %}>{{ regime.name }}</label>

                            <div class="regime_desc"><em>{{ regime.description }}</em></div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun régime de ce type disponible pour le moment</p>
            {% endif %}
        </div>
        <!--
        <div class="col-md-12">
            <h3>Nutriments</h3>
            {% if nutrients_regimes_list %}
                <ul>
                    {% for regime in nutrients_regimes_list %}
                        <div class="checkbox regime" data-diet="{{ regime.pk }}" onclick="update_diet(this)">
                            <label><input type="checkbox" value="">{{ regime.name }}</label>

                            <div class="regime_desc">{{ regime.description }}</div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Min</button>
                                <button type="button" class="btn btn-default">Recomandé</button>
                                <button type="button" class="btn btn-default">Max</button>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p><i>Aucun régime de ce type disponible pour le moment</i></p>
            {% endif %}
        </div>
        -->
    </div>
</div>
