<style>
    div.regime {
        margin-top: 20px;
    }
</style>

{% extends '_base.html' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Mes régimes</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'physiology' %}" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i>Ma physiologie
                    </a>
                    <a href="{% url 'generate' %}" class="btn btn-primary">
                        Génération <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% include 'profiles/regimes_ajax.html' %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}
