{% extends '_base.html' %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"></ol>
                <h1>Mes goûts</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Rechercher</header>
                <div class="main-box-body clearfix">
                    <form class="form-horizontal" action="{% url 'tastes' %}" method="POST">
                        <div class="col-sm-8">
                            <input type="text" id="search" name="query" class="form-control" placeholder="Aliment ou recette">
                        </div>
                        {% csrf_token %}
                        <button class="btn btn-default" type="submit">Rechercher</button>
                    </form>
                </div>
                <table class="table table-striped">
                    <tbody>
                    {% for recipe in found_recipes %}
                        <tr>
                            <td>{{ recipe.name }}</td>
                        </tr>
                    {% endfor %}
                    {% for ingred in found_ingredients %}
                        <tr>
                            <td>{{ ingred.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Recettes que je n'aime pas</header>
                <div class="main-box-body clearfix">
                    <input type="text" class="form-control" id="filter-recipes" placeholder="filtrer">
                    <table class="table table-striped">
                        <tbody>
                            {% for recipe in unlikes_recipes %}
                                <tr id="recipes" class="clickable-row" data-url="{% url 'relike_recipe' recipe_id=recipe.id %}" title="J'aime à nouveau!">
                                    <td class="unlikes-relike">{{ recipe.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Aliments que je n'aime pas</header>
                <div class="main-box-body clearfix">
                    <input type="text" class="form-control" id="filter-ingredients" placeholder="filtrer">
                    <table class="table table-striped">
                        <tbody>
                            {% for ingredient in unlikes_ingredients %}
                                <tr id="ingredients" class="clickable-row" data-url="{% url 'relike_ingredient' ingredient_id=ingredient.id %}" title="J'aime à nouveau!">
                                    <td>{{ ingredient.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        // filter recipes
        var $rows_recipes = $('tr#recipes td');
        $('#filter-recipes').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows_recipes.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        // filter ingredients
        var $rows_ingreds = $('tr#ingredients td');
        $('#filter-ingredients').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows_ingreds.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        // clickable row
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("url");
            });
        });
    </script>

{% endblock %}
