{% extends '_base.html' %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"></ol>
                <h1>Mes goûts</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Rechercher</header>
                <div class="main-box-body clearfix">
                        <input type="text" class="form-control" id="search" placeholder="Aliment ou recette">
                </div>
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8">
                        <ul id="liked-aliments" class="list-group">
                            {% for aliment in ingredients %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="name">{{ aliment }}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Recettes que je n'aime pas</header>
                <div class="main-box-body clearfix">
                    <input type="text" class="form-control" id="filter-recipes" placeholder="filtrer">
                    <table class="table table-striped">
                        <tbody>
                            {% for recipe in unlikes_recipes %}
                                <tr class="clickable-row" data-url="{% url 'relike_recipe' recipe_id=recipe.id %}" title="J'aime à nouveau!">
                                    <td>{{ recipe.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">Aliments que je n'aime pas</header>
                <div class="main-box-body clearfix">
                    <input type="text" class="form-control" id="filter-ingredients" placeholder="filtrer">
                    <table class="table table-striped">
                        <tbody>
                            {% for ingredient in unlikes_ingredients %}
                                <tr class="clickable-row" data-url="{% url 'relike_ingredient' ingredient_id=ingredient.id %}" title="J'aime à nouveau!">
                                    <td>{{ ingredient.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var $rows = $('ul#liked-aliments li');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

        // AJAX for posting
        function update_tastes(data_dico) {
            console.log("sanity check"); // sanity check TODO Kyo : Log meaningful things or stop logging
            $.ajax({
                url : '{% url 'update_tastes' %}', // the endpoint
                type : "POST", // http method
                data : data_dico, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) { //TODO Kyo Display err, or at least remove parameter
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    // TODO Kyo : Cleanup and/or extract a method to avoid copy/paste (see generate.html)
                }
            });
        }

        $("#liked-aliments").on('click', 'li button', function () {
            $(this).removeClass('btn-danger');
            $(this).addClass('btn-success');
            $(this).children().first().removeClass('glyphicon-thumbs-down');
            $(this).children().first().addClass('glyphicon-thumbs-up');

            var list_item = $(this).closest('li');
            var aliment_text = jQuery('span.name', list_item).text();
            var data_dico = {disliked: aliment_text};

            update_tastes(data_dico);
            list_item.prependTo("#disliked-aliments");
        });

        $("#disliked-aliments").on('click', 'li button', function () {
            $(this).removeClass('btn-success');
            $(this).addClass('btn-danger');
            $(this).children().first().removeClass('glyphicon-thumbs-up');
            $(this).children().first().addClass('glyphicon-thumbs-down');

            var list_item = $(this).closest('li');
            var aliment_text = jQuery('span.name', list_item).text();
            var data_dico = {liked: aliment_text};

            update_tastes(data_dico);
            $(this).closest('li').prependTo("#liked-aliments");
        });
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("url");
            });
        });
    </script>

{% endblock %}
