{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_overrides/modal.css' %}" />
{% endblock %}

<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="{% url 'menus.views.landing' %}" id="logo" class="navbar-brand">
            <!--
            <img src="img/logo.png" alt="" class="normal-logo logo-white"/>
            <img src="img/logo-black.png" alt="" class="normal-logo logo-black"/>
            <img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
            -->
            <div class="raw-brand" style="padding-top: 5px; padding-left: 25px;">
                <i class="fa fa-cogs"></i>
                <strong>MenuGen</strong>
            </div>
        </a>
        <div class="clearfix">
            {% if user.is_authenticated %}
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
            {% endif %}
            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-no-collapse pull-right" id="header-nav">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown profile-dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static 'vendor/img/default-avatar.png' %}" alt=""/>
                                <span class="hidden-xs">John Doe</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href=""><i class="fa fa-user"></i>Profile</a></li>
                                <li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
                                <li><a href="{% url 'menus.views.sign_out' %}"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <div style="padding-top: 5px; padding-right: 10px;">
                        <a class="btn btn-primary"
                           href="{% url 'menus.views.sign_in'%}"
                           role="button"
                           data-toggle="modal"
                           data-target="#signInUpModal">
                            Connexion
                        </a>
                        <a class="btn btn-primary"
                           href="{% url 'menus.views.sign_up'%}"
                           role="button"
                           data-toggle="modal"
                           data-target="#signInUpModal">
                            Inscription
                        </a>
                    </div>
                    <div class="modal fade" id="signInUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center modal-sm">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% block js %}
    <script>
    </script>
{% endblock %}