{% extends 'base.depreciated.html' %}

{% block content %}
     <div class="jumbotron">
        <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/landing.jpg">
            <div class="container">
                <h1>Le générateur intelligent de menus équilibrés</h1>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'menus.views.physiology' %}" role="button">Essayez maintenant &raquo;</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
