{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
    <!--
    <div class="jumbotron">
        <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/landing.jpg">
            <div class="container">
                <h1></h1>
                <p>MenuGen, le générateur <em>intelligent</em> de menus <em>équilibrés</em> !</p>
                <p>
                    <a class="btn btn-warning btn-lg" href="{% url 'physiology' %}" role="button">Essayez maintenant &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    -->

    <div class="col-md-12">
        <div class="main-box weather-box-large">
            <div class="main-box-body main-box-no-header clearfix">
                <div class="current"
                     style="background: url('{% static 'img/landing.jpg' %}') no-repeat scroll 0 0 / cover padding-box transparent">
                    <div id="hackfix" style="margin-bottom: 20px;"></div>
                    <h4 style="font-size: 2.2em; display: inline;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);border-radius: 10px; padding: 8px 15px;">
                        MenuGen, le générateur <em>intelligent</em> de menus <em>équilibrés</em> !</h4>

                    <div class="temp-out-wrapper clearfix">
                        <i class="wi wi-day-sunny icon"></i>

                        <div class="temp-wrapper">
                            <a style="height: 56px; width: 324px; font-size: 28px; background-color: #FF9900"
                               class="btn btn-warning btn-lg"
                               href="{% url 'physiology' %}" role="button">
                                {% if user.is_authenticated %} Démarrer
                                {% else %}Essayez maintenant
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-box-body clearfix">
        <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
            <div class="pricing-package-inner">
                <div class="package-header green-bg">
                    <h3>intelligent</h3>
                </div>
                <div class="package-content">
                    <div class="package-price green-bg" style="height: 20px;">
                    </div>
                    <ul class="package-top-features">
                        <li>Basé sur des données ouvertes</li>
                        <li>Construit à l'aide d'algorithmes sophistiqués</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
            <div class="pricing-package-inner">
                <div class="package-header green-bg">
                    <h3>diététique</h3>
                </div>
                <div class="package-content">
                    <div class="package-price green-bg" style="height: 20px;">
                    </div>
                    <ul class="package-top-features">
                        <li>Propose des menus équilibrés</li>
                        <li>Vous aide à planifier une alimentation variée</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
            <div class="pricing-package-inner">
                <div class="package-header green-bg">
                    <h3>qui vous ressemble</h3>
                </div>
                <div class="package-content">
                    <div class="package-price green-bg" style="height: 20px;">
                    </div>
                    <ul class="package-top-features">
                        <li>Apprend vos goûts</li>
                        <li>Respecte vos valeurs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
