
<!-- sidebar menu start-->
<div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
    {% if user.is_authenticated %}
        <p class="centered"><a href="#"><img src="" class="img-circle" width="60"></a></p>
        <h5 class="centered">Nom Prénom</h5>

        <li class="mt">
            <a class="active" href="{% url 'menus.views.friends' %}">
                <span>Profil(s)</span>
            </a>
        </li>
        <li>
            <a href="{% url 'menus.views.generate' %}">
                <span>Génerer</span>
            </a>
        </li>
        <li>
            <a href="{% url 'menus.views.menus' %}">
                <span>Mes menus</span>
            </a>
        </li>
        <li>
            <a href="{% url 'menus.views.statistics' %}">
                <span>Mes données</span>
            </a>
        </li>
    </ul>
    {% endif %}
</div>