<ul class="nav nav-pills nav-stacked">
    <li><a href="{% url 'menus.views.home' %}">Home</a></li>

    <li><a href="{% url 'menus.views.friends' %}">Profil(s)</a></li>
    <li><a href="{% url 'menus.views.physiology' %}">Physiologie</a></li>
    <li><a href="{% url 'menus.views.regimes' %}">Regimes</a></li>
    <li><a href="{% url 'menus.views.tastes' %}">Tastes</a></li>
    <li><a href="{% url 'menus.views.generate' %}">Génerer</a></li>
    <li></li>
    <li><a href="{% url 'menus.views.menus' %}">Mes menus</a></li>
    <li><a href="{% url 'menus.views.statistics' %}">Statistics</a></li>
    <li><a href="{% url 'menus.views.account' %}">Account</a></li>
</ul>

