beautifulsoup4==4.4.0
Django==1.7.4
django-stdimage==1.2.2
numpy==1.9.2
Pillow==2.8.1
progressbar2==2.7.3
python-dateutil==2.4.2
python-Levenshtein==0.12.0
requests==2.7.0
six==1.9.0
wheel==0.24.0
unidecode
psycopg2==2.6.1
