{% extends 'dashboard.html' %}
{% load planning_extras %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dnd/dnd.css' %}" />
{% endblock %}

{% block dashboardcontent %}
    {% if not user.is_authenticated %}
        <nav>
            <ul class="pager">
                <li class="previous"><a href="{% url 'menus.views.generate' %}" ><span aria-hidden="true">&larr;</span> Retour aux critères</a></li>
            </ul>
        </nav>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Votre menu généré</h1>
        </div>
    {% include 'menus/generation/modal.html' %}
    <div class="row">
        <div class="col-md-12">

            <table id="planning" class="table">
                {% for meal_time in planning %}
                    <tr>
                        <th>{{ forloop.counter0|meal_slot_name }}</th>
                        {% for meal in meal_time %}
                            <td>
                                <div id="slot_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" class="slot well" draggable="true">
                                    <a data-toggle="modal"
                                        href="{% url 'menus.views.generation_meal_details'%}"
                                        data-target="#mealDetailsModal">
                                        DETAILS
                                    </a>
                                    {% include 'menus/generation/slot.html' with aMeal=meal i=forloop.parentloop.counter0 j=forloop.counter0 %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready( function() {
            function handleDragStart(e) {
                this.style.opacity = '0.4';  // this / e.target is the source node.

                dragSrcEl = this;

                e.dataTransfer.effectAllowed = 'move';
                e.dataTransfer.setData('text/html', this.innerHTML);
            }

            function handleDragOver(e) {
              if (e.preventDefault) {
                e.preventDefault(); // Necessary. Allows us to drop.
              }

              e.dataTransfer.dropEffect = 'move';

              return false;
            }

            function handleDrop(e) {
              // this / e.target is current target element.
                console.log("drop");
                counter = 0;
                  if (e.stopPropagation) {
                    e.stopPropagation(); // stops the browser from redirecting.
                  }

                // Don't do anything if dropping the same column we're dragging.
              if (dragSrcEl != this) {
                // Set the source slot's HTML to the HTML of the slot we dropped on.
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
              }

              return false;
            }

            function handleDragEnd(e) {
                // this/e.target is the source node.
                [].forEach.call(cols, function (col) {
                    col.classList.remove('over');
                });
                this.style.opacity = '1';
            }

            var counter = 0;

            function handleDragEnter(e) {
                if (e.preventDefault) {
                    e.preventDefault();
                }

                [].forEach.call(cols, function (col) {
                    col.classList.remove('over');
                });
                // this / e.target is the current hover target.
                counter++;
                this.classList.add('over');
            }

            function handleDragLeave(e) {
                console.log("leave : " + counter);
                counter--;
                if (counter === 0) {
                    console.log(counter);
                    this.classList.remove('over');  // this / e.target is previous target element.
                }
            }

            var cols = document.querySelectorAll('#planning .slot');
            [].forEach.call(cols, function(col) {
                col.addEventListener('dragstart', handleDragStart, false);
                col.addEventListener('dragenter', handleDragEnter, false);
                col.addEventListener('dragover', handleDragOver, false);
                col.addEventListener('dragleave', handleDragLeave, false);
                col.addEventListener('drop', handleDrop, false);
                col.addEventListener('dragend', handleDragEnd, false);
            });

            $(document).on("hidden.bs.modal", function (e) {
                $(e.target).removeData("bs.modal").find(".modal-content").empty();
            });
        });
    </script>
{% endblock %}