{% extends '_base.html' %}
{% load planning_extras %}
{% load staticfiles %}

{% block content %}
    <div class="modal fade" id="shoppingListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"></ol>
                <h1>Ma génération</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'generate' %}" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i> Paramètres de la génération
                    </a>
                    <a class="btn btn-warning"
                       href="{% url 'sign_up' %}"
                       role="button"
                       data-toggle="modal"
                       data-target="#auth-modal">
                        Sauvegarder et créer un compte <i class="fa fa-angle-double-right"></i>
                    </a>


                {% else %}
                    <a class="btn btn-default"
                       data-toggle="modal"
                       href="{% url 'generation_shopping_list' %}"
                       data-target="#shoppingListModal">
                        Liste de courses
                    </a>
                    <a class="btn btn-warning"
                       href="{% url 'menu_new' %}"
                       role="button"
                       data-toggle="modal"
                       data-target="#auth-modal">
                        Sauvegarder ce menu <i class="fa fa-angle-double-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- pie charts -->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <canvas class="chartCanvas" id="difficultyDoughnutChart" width="200" height="200"></canvas>
                <div class="caption"><h3>Difficulté des recettes</h3></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <canvas class="chartCanvas" id="mealTypesDoughnutChart" width="200" height="200"></canvas>
                <div class="caption"><h3>Catégories des recettes</h3></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <canvas class="chartCanvas" id="priceDoughnutChart" width="200" height="200"></canvas>
                <div class="caption"><h3>Fourchettes de prix des recettes</h3></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mealDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <div class="main-box-body clearfix">
                <div class="table-responsive">
                    <table id="planning" class="table">
                        {% for meal_time in planning %}
                            {% if forloop.counter0 == 0 %}
                                <th></th>
                                {% for meal in meal_time %}
                                    <th class="col-md-{{ meal_time|length|column_size }}">
                                        <h3>Jour {{ forloop.counter }}</h3>
                                        <br>
                                    </th>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th>{{ forloop.counter0|meal_slot_name }}</th>
                                {% for meal in meal_time %}
                                    <td>
                                        <div id="slot_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}"
                                             class="slot well text-center" draggable="true">
                                            {% if meal %}
                                                {% include 'menus/generation/slot.html' with aMeal=meal i=forloop.parentloop.counter0 j=forloop.counter0 %}
                                                <btn class="btn btn-primary btn-details center-block"
                                                     data-toggle="modal"
                                                     href="{% url 'generation_meal_details' starter_id=meal.starter.id main_course_id=meal.main_course.id dessert_id=meal.dessert.id %}"
                                                     data-target="#mealDetailsModal">
                                                    Détails
                                                </btn>
                                            {% else %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <br>

                                                        <p><i>Pas de repas prévu</i></p>
                                                    </div>
                                                </div>
                                                <btn class="btn btn-primary btn-details center-block disabled"
                                                     data-toggle="modal">
                                                    Détails
                                                </btn>
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


        <!-- picture wall -->
        <div class="row">
            <div id="gallery">
                <div class="body"></div>
            </div>
        </div>


    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function handleDragStart(e) {
                this.style.opacity = '0.4';  // this / e.target is the source node.

                dragSrcEl = this;

                e.dataTransfer.effectAllowed = 'move';
                e.dataTransfer.setData('text/html', this.innerHTML);
            }

            function handleDragOver(e) {
                if (e.preventDefault) {
                    e.preventDefault(); // Necessary. Allows us to drop.
                }

                e.dataTransfer.dropEffect = 'move';

                return false;
            }

            function handleDrop(e) {
                // this / e.target is current target element.
                console.log("drop");
                counter = 0;
                if (e.stopPropagation) {
                    e.stopPropagation(); // stops the browser from redirecting.
                }

                // Don't do anything if dropping the same column we're dragging.
                if (dragSrcEl != this) {
                    // Set the source slot's HTML to the HTML of the slot we dropped on.
                    dragSrcEl.innerHTML = this.innerHTML;
                    this.innerHTML = e.dataTransfer.getData('text/html');
                }

                return false;
            }

            function handleDragEnd(e) {
                // this/e.target is the source node.
                [].forEach.call(cols, function (col) {
                    col.classList.remove('over');
                });
                this.style.opacity = '1';
            }

            var counter = 0;

            function handleDragEnter(e) {
                if (e.preventDefault) {
                    e.preventDefault();
                }

                [].forEach.call(cols, function (col) {
                    col.classList.remove('over');
                });
                // this / e.target is the current hover target.
                counter++;
                this.classList.add('over');
            }

            function handleDragLeave(e) {
                console.log("leave : " + counter);
                counter--;
                if (counter === 0) {
                    console.log(counter);
                    this.classList.remove('over');  // this / e.target is previous target element.
                }
            }

            var cols = document.querySelectorAll('#planning .slot');
            [].forEach.call(cols, function (col) {
                col.addEventListener('dragstart', handleDragStart, false);
                col.addEventListener('dragenter', handleDragEnter, false);
                col.addEventListener('dragover', handleDragOver, false);
                col.addEventListener('dragleave', handleDragLeave, false);
                col.addEventListener('drop', handleDrop, false);
                col.addEventListener('dragend', handleDragEnd, false);
            });

            $(document).on("hidden.bs.modal", function (e) {
                $(e.target).removeData("bs.modal").find(".modal-content").empty();
            });
        });

        var data_difficulty = [
            {
                value: {{ nb_very_easy }},
                color: "#33CC33",
                highlight: "#70DB70",
                label: "Très Facile"
            },
            {
                value: {{ nb_easy }},
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Facile"
            },
            {
                value: {{ nb_medium }},
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Moyenne"
            },
            {
                value: {{ nb_difficult }},
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Difficile"
            }
        ];
        var ctxDPC = $("#difficultyDoughnutChart").get(0).getContext("2d");
        new Chart(ctxDPC).Doughnut(data_difficulty);

        var data_categories = [
            {
                value: {{ cat_amuse_gueule }},
                color: "#33CC33",
                highlight: "#70DB70",
                label: "Amuse-gueule"
            },
            {
                value: {{ cat_confiserie }},
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Confiserie"
            },
            {
                value: {{ cat_accompagnement }},
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Accompagnement"
            },
            {
                value: {{ cat_conseil }},
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Conseil"
            },
            {
                value: {{ cat_dessert }},
                color: "#99CC00",
                highlight: "#A3D119",
                label: "Dessert"
            },
            {
                value: {{ cat_entree }},
                color: "#007A7A",
                highlight: "#008A8A",
                label: "Entrée"
            },
            {
                value: {{ cat_sauce }},
                color: "#9900FF",
                highlight: "#A319FF",
                label: "Sauce"
            },
            {
                value: {{ cat_boisson }},
                color: "#3333FF",
                highlight: "#4747FF",
                label: "Boisson"
            },
            {
                value: {{ cat_plat_principal }},
                color: "#FF3300",
                highlight: "#FF4719",
                label: "Plat principal"
            }
        ];
        var ctxPPC = $("#mealTypesDoughnutChart").get(0).getContext("2d");
        new Chart(ctxPPC).Doughnut(data_categories);

        var data_categories = [
            {
                value: {{ price_0 }},
                color: "#9900FF",
                highlight: "#A319FF",
                label: "Bon marché"
            },
            {
                value: {{ price_1 }},
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Moyen"
            },
            {
                value: {{ price_2 }},
                color: "#3333FF",
                highlight: "#4747FF",
                label: "Assez cher"
            }
        ];
        var ctxPPC = $("#priceDoughnutChart").get(0).getContext("2d");
        new Chart(ctxPPC).Doughnut(data_categories);

        $(document).ready(function () {
            PhotoWall.init({
                el: '#gallery'               // Gallery element
                , zoom: false                     // Use zoom
                , zoomAction: 'mouseenter'             // Zoom on action
                , zoomTimeout: 500                      // Timeout before zoom
                , zoomDuration: 100                      // Zoom duration time
                , showBox: true                     // Enable fullscreen mode
                , padding: 10                       // padding between images in gallery
                , lineMaxHeight: 150                      // Max set height of pictures line
                                                          // (may be little bigger due to resize to fit line)
            });
            var PhotosArray = new Array(
                    {% for pic in pics %}
                        {% if not forloop.last %}
                            {
                                id:{{ forloop.counter0 }}, img: '{{ pic }}', width: 500, height: 400,
                                th: {
                                    src: '{{ pic }}', width: 50, height: 40,
                                    zoom_src: '{{ pic }}', zoom_factor: 4
                                }
                            },
                        {% endif %}
                    {% endfor %}
                    {% with pics|last as pic %}
                        {
                            id: 200, img: '{{ pic }}', width: 500, height: 400,
                            th: {
                                src: '{{ pic }}', width: 50, height: 40,
                                zoom_src: '{{ pic }}', zoom_factor: 4
                            }
                        }
                    {% endwith %}
            );

            PhotoWall.load(PhotosArray);
        });
    </script>
{% endblock %}
