<div class="panel-group" id="accordion{{ id }}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ id }}">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion{{ id }}" href="#collapseOne{{ id }}" aria-expanded="false" aria-controls="collapseOne{{ id }}">
                <h4 class="panel-title">
                    Ingrédients
                </h4>
            </a>
        </div>
        <div id="collapseOne{{ id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ id }}">
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        {% for i in recipe.ingredients.all %}
                        <tr>
                            <td>
                                {{ i.name }}
                                <button type="button" class="btn btn-danger btn-xs pull-right">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
