<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="aModalLabel">
        Détails du repas
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="well">
                {% include 'menus/generation/recipe.html' with recipe=meal.starter %}
            </div>
            {% include 'menus/generation/ingredients.html' with recipe=meal.starter id='starter' %}
        </div>
        <div class="col-md-4 text-center">
            <div class="well">
                {% include 'menus/generation/recipe.html' with recipe=meal.main_course %}
            </div>
            {% include 'menus/generation/ingredients.html' with recipe=meal.main_course id='main_course' %}
        </div>
        <div class="col-md-4 text-center">
            <div class="well">
                {% include 'menus/generation/recipe.html' with recipe=meal.dessert %}
            </div>
            {% include 'menus/generation/ingredients.html' with recipe=meal.dessert id='dessert' %}
        </div>
    </div>
</div>
<div class="modal-footer">
</div>

{% block js %}
    <script>
        $('.modal-body').on('submit', '#unlike-recipe-form', function() {
            $.ajax({
                is_allowed: false,
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    $('#mealDetailsModal').removeData("bs.modal").find(".modal-content").html(data);
                },
            });
            return false;
        });
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });

        $('.modal-body').on('submit', '#unlike-ingredient-form', function() {
            $.ajax({
                is_allowed: false,
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    $('#mealDetailsModal').removeData("bs.modal").find(".modal-content").html(data);
                },
            });
            return false;
        });
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });
    </script>
{% endblock %}
