{% load utils_extras %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="aModalLabel"> Liste de courses </h4>
</div>
<div class="modal-body">
    <div class="row">
        <a href="{% url 'shopping_list_pdf' %}"><span class="fa fa-download pull-right"></span></a>

    </div>
    <div class="row">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Quantité</th>
                <th>Ingrédient</th>
            </tr>
            {% for name, item in shopping_list.items %}
                <tr>
                    <td>
                        {% for key in item.units %}
                            {{ item.units | index:key | shopping_amount }} {{ key | shopping_unit }}
                        {% endfor %}
                    </td>
                    <td> {{ name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
