{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'testing.views.index' %}">Recipes</a>
                </div>
            </div>
        </nav>


        <div class="row">
            <table class="table table-striped tab-pane active" id="infos">
                <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td><a href="{% url 'testing.views.recipe_details' recipe.id %}">{{ recipe.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
