[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#planning .slot {
    border: 2px solid #666666;
    cursor: move;
}


#planning .slot.over {
    border: 2px dashed #000;
}