{% block css %}
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
{% endblock %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">
        Inscription
    </h4>
</div>
<div class="modal-body">

    {% if planning %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Felicitations!</strong> Vous venez de générer votre premier menu a partir de votre profil. Créez votre compte en un clic pour ne pas en perdre une miette et découvrir les fonctionnalités avancées de MenuGen!
        </div>
    {% endif %}


    {% if form.errors %}
        <p style="color: red;">
            Formulaire invalide
        </p>
    {% endif %}
    <form class="form-horizontal" id="sign-up-form" method="POST" action="{% url 'sign_up' %}">
        <div class="modal-body">
            {% csrf_token %}
            {{ form.as_table }}
        </div>
        <div class="control-group">
            <div class="controls text-right">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </form>
</div>
{% block js %}
    <script>
        $('.modal-body').on('submit', '#sign-up-form', function() {
            $.ajax({
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    location.href = '{% url 'profiles' %}';
                },
                error:  function(data, status) {
                    $('#auth-modal').removeData("bs.modal").find(".modal-content").html(data.responseText);
                }
            });
            return false;
        });
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });
    </script>
{% endblock %}
