{% block css %}
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
{% endblock %}
{#{% load staticfiles %}#}
{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_overrides/modal.css' %}" />#}
{#{% endblock %}#}
{##}
{#<div class="modal fade bs-example-modal-sm" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#    <div class="vertical-alignment-helper">#}
{#        <div class="modal-dialog vertical-align-center modal-sm">#}
{#            <div class="modal-content">#}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">
        Connexion
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="sign-in-form" action="{% url 'menus.views.sign_in' %}" method="POST">
        <div class="modal-body">
            {% if form.errors %}
                <p style="color: red;">
                    {{ form.error_messages }}
                </p>
            {% endif %}
            {% csrf_token %}
            {{ form.as_table }}
        </div>
        <div class="control-group">
            <div class="controls text-right">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </div>
    </form>
</div>
{#            </div>#}
{#      </div>#}
{#    </div>#}
{#</div>#}

{% block js %}
    <script>
        $('.modal-body').on('submit', '#sign-in-form', function() {
            $.ajax({
                is_allowed: false,
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    location.href = '{% url 'menus.views.friends' %}';
                },
                error:  function(data, status) {
                    $('#signInUpModal').removeData("bs.modal").find(".modal-content").html(data.responseText);
                }
            });
            return false;
        });
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });
    </script>
{% endblock %}
