<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connection</h4>
      </div>
        <form class="form-horizontal" name="LoginForm" action="{% url 'menus.views.sign_in' %}" method="POST">
          <div class="modal-body">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">Utilisateur</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="Utilisateur">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Mot de passe</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Mot de passe">
                </div>
            </div>
          </div>
          <div class="modal-footer">
              <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                  </div>
              </div>
          </div>
        </form>
    </div>
  </div>
</div>

