{% extends '_base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dnd/dnd.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'loader.css' %}"/>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"></ol>
                <h1>Générer un nouveau menu</h1>
            </div>
            <div class="pull-right hidden-xs">
                {% if not user.is_authenticated %}
                    <a href="{% url 'tastes' %}" class="btn btn-primary">
                        <i class="fa fa-angle-double-left"></i> Mes goûts
                    </a>
                {% endif %}
                <a href="{% url 'generation' %}" class="btn btn-primary" id="generate-button">
                    Générer <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="generate">
        <div class="row">
            <div class="col-md-6">
                <div class="main-box clearfix">
                    <header class="main-box-header clearfix">Précisez vos critères</header>
                    <div class="main-box-body clearfix">
                        <form class="form-horizontal" name="criteria" action="{% url 'physiology' %}" method="POST">
                            <div class="form-group">
                                <label for="budgetRadioOptions" class="col-sm-3 control-label">Budget</label>

                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input class="budget" type="radio" name="budgetRadioOptions" id="inlineRadio1"
                                               value="0"> Bon marché
                                    </label>
                                    <label class="radio-inline">
                                        <input class="budget" type="radio" name="budgetRadioOptions" id="inlineRadio2"
                                               value="1"> Moyen
                                    </label>
                                    <label class="radio-inline">
                                        <input class="budget" type="radio" name="budgetRadioOptions" id="inlineRadio3"
                                               value="2"> Assez cher
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DifficultyRadioOptions" class="col-sm-3 control-label">Difficulté</label>

                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input class="difficulty" type="radio" name="DifficultyRadioOptions"
                                               id="inlineRadio1" value="option1"> Très facile
                                    </label>
                                    <label class="radio-inline">
                                        <input class="difficulty" type="radio" name="DifficultyRadioOptions"
                                               id="inlineRadio2" value="option2"> Facile
                                    </label>
                                    <label class="radio-inline">
                                        <input class="difficulty" type="radio" name="DifficultyRadioOptions"
                                               id="inlineRadio3" value="option3"> Moyenne
                                    </label>
                                    <label class="radio-inline">
                                        <input class="difficulty" type="radio" name="DifficultyRadioOptions"
                                               id="inlineRadio4" value="option4"> Difficile
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <br>

                            <div class="form-group">
                                <label for="nb_days" class="col-sm-3 control-label">Pour</label>

                                <div class="col-sm-4">
                                    <div id="nbDays-input-group" class="input-group has-success">
                                        <select class="form-control" id="nb_days" name="nb_days"
                                                aria-describedby="day-unit-addon">
                                            <option value="1">1 jour</option>
                                            <option value="2">2 jours</option>
                                            <option value="3">3 jours</option>
                                            <option value="4" selected>4 jours</option>
                                            <option value="5">5 jours</option>
                                            <option value="6">6 jours</option>
                                            <option value="7">7 jours</option>
                                            <option value="8">8 jours</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-sm-offset-3">
                                    <button id="placements-detail-ajax" href="{% url 'generate_placements_detail'%}" class="btn btn-success" type="button">
                                        <i class="fa fa-table"></i>
                                    </button>
                                </div>
                            </div>


                            <br>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-2">
                                        <div id="profile-input-group" class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-users"></i>
                                            </span>
                                            <input type="text" class="form-control" id="maskedSsn">
                                            <span class="input-group-btn">
                                                <button id="select-profils-ajax" href="{% url 'generate_select_profile' %}" class="btn btn-success" type="button">
                                                    <i class="fa fa-user-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="main-box clearfix">
                    <div id="contextual-container">
                        {% include 'menus/generate/placements_detail.html' with days_range=days_range %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 170px;" id="loader">
        <div class="col-lg-offset-4 col-lg-4">
            <div class="main-box weather-box">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">Génération en cours</h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="current">
                        <div class="clearfix center-block" style="width: 220px;">
                            <div class="container">
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                                <span class="dots"></span>
                            </div>
                        </div>
                    </div>
                    <div class="next" style="background-color: #FF9900">
                        <div class="clearfix">
                            <p><strong>Merci de patienter un court instant...</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("#loader").hide();
        $("#generate-button").click(function(){
            $("#generate").hide();
            $("#loader").show();
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#select-profils-ajax").click(function (e) {
                var lien = $(this).attr('href');
                console.log(lien);
                $('#contextual-container').fadeOut('fast', function () {
                    $('#contextual-container').load(lien, function () {
                        $('#contextual-container').fadeIn('fast');
                        $('#nbDays-input-group').removeClass('has-success');
                        $('#profile-input-group').addClass('has-success');
                    });
                });
                e.preventDefault()
            });
            $("#placements-detail-ajax").click(function (e) {
                var lien = $(this).attr('href');
                var data = $("select#nb_days option:selected").val();
                $('#contextual-container').fadeOut('fast', function () {
                    $('#contextual-container').load(lien, {nb_days: data}, function () {
                        $('#contextual-container').fadeIn('fast');
                        $('#profile-input-group').removeClass('has-success');
                        $('#nbDays-input-group').addClass('has-success');

                    });
                });
                e.preventDefault()
            });
        });

        $(function () {
            $(".dropdown-menu li a").click(function () {
                var btnFirstSelector = $(".btn:first-child");
                btnFirstSelector.text($(this).text());
                btnFirstSelector.val($(this).text());
            });
        });


        // AJAX for posting
        function update_pre_generation(data_dico) {
            console.log("sanity check"); // sanity check TODO Kyo : Log meaningful things or stop logging
            $.ajax({
                url : '{% url 'update_gen_criteria' %}', // the endpoint
                type : "POST", // http method
                data : data_dico, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) { //TODO Kyo Display err, or at least remove parameter
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    // TODO Kyo : Cleanup and/or extract a method to avoid copy/paste (see tastes.html)
                }
            });
        }

        $('.budget').on('click', function () {
            var data_dico = {budget: $(this).val()};
            update_pre_generation(data_dico);
        });
        $('.difficulty').on('click', function () {
            var data_dico = {difficulty: $(this).val()};
            update_pre_generation(data_dico);
        });
        $('#nb_days').on('change', function () {
            var data_dico = {nb_days: $("select#nb_days option:selected").val()};
            $("#placements-detail-ajax").trigger('click');
            update_pre_generation(data_dico);
        });

    </script>
{% endblock %}
