<header class="main-box-header clearfix">Vue détaillée - Nombre de repas</header>
<div class="row">
    <table class="table">
    <thead>
    <tr>
        <th>Repas</th>
        {% for i in days_range %}
                <th>Jour {{i}}</th>
            {% endfor %}
        <th>Tous</th>
    </tr>
    </thead>
        <tr>
            <th>Déjeuner</th>
            {% for i in days_range %}
                <td><input type="checkbox" aria-label="..." checked></td>
            {% endfor %}
        </tr>
        <tr>
            <th>Dîner</th>
            {% for i in days_range %}
                <td><input type="checkbox" aria-label="..." checked></td>
            {% endfor %}
        </tr>

    </table>
</div>

