{% load staticfiles %}
{% load utils_extras %}

<header class="main-box-header clearfix">Vue détaillée - Nombre de repas</header>

<div class="main-box-body clearfix">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Repas</th>
                {% for i in meals_matrix.0 %}
                    <th>Jour {{ forloop.counter }}</th>
                {% endfor %}
                <th>Tous</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Déjeuner</th>
                <div id="lunches">
                    {% for meal in meals_matrix.0 %}
                        <td>
                            <div class="checkbox-nice">
                                <input class="lunch" type="checkbox" id="m-checkbox-lunch-{{ forloop.counter }}" value={{ forloop.counter }}
                                        {% if meal %}checked{% endif %}>
                                <label for="m-checkbox-lunch-{{ forloop.counter }}"></label>
                            </div>
                        </td>
                    {% endfor %}
                    <td>
                        <div class="checkbox-nice">
                            <input type="checkbox" id="m-checkbox-lunches-all" checked>
                            <label for="m-checkbox-lunches-all"></label>
                        </div>
                    </td>
                </div>
            </tr>
            <tr>
                <th>Dîner</th>
                {% for meal in meals_matrix.1 %}
                    <td class="dinners">
                        <div class="checkbox-nice">
                            <input class="dinner" type="checkbox" id="m-checkbox-dinner-{{ forloop.counter }}" value={{ forloop.counter }}
                                    {% if meal %}checked{% endif %}>
                            <label for="m-checkbox-dinner-{{ forloop.counter }}"></label>
                        </div>
                    </td>
                {% endfor %}
                <td>
                    <div class="checkbox-nice">
                        <input type="checkbox" id="m-checkbox-dinners-all" checked>
                        <label for="m-checkbox-dinners-all"></label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% block js %}
    <script src="{% static 'vendor/js/jquery.js' %}"></script>
    <script src="{% static "jquery.cookie.js" %}"></script>
    <script>
        // Move header request handler method in a seperate file
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });
    </script>
    <script>
        $(document).ready( function() {
            function update_pre_generation(data_dico) {
                $.ajax({
                    url : '{% url 'update_gen_criteria' %}', // the endpoint
                    type : "POST", // http method
                    data : data_dico, // data sent with the post request
                    // handle a successful response
                    success: function (json) {
                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                    },

                    // handle a non-successful response
                    error: function (xhr, errmsg, err) { //TODO Kyo Display err, or at least remove parameter
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        // TODO Kyo : Cleanup and/or extract a method to avoid copy/paste (see tastes.html)
                    }
                });
            }

            var all_checked_lunch = true;
            var all_checked_dinner = true;
            /* FIXME Kyo: The 'all checked' information should come from a variable from the back-end */
            $('input.lunch').each(function (index) {
                var all_checked_lunch = all_checked_lunch && $(this)[0].checked;
                $("#m-checkbox-lunches-all").attr('checked', all_checked_lunch);
                $(this).on("change", '0', updateMatrix);
            });

            $('input.dinner').each(function (index) {
                all_checked_dinner = all_checked_dinner && $(this)[0].checked;
                $("#m-checkbox-dinners-all").attr('checked', all_checked_dinner);
                $(this).on("change", '1', updateMatrix);
            });


            $('#m-checkbox-lunches-all').on("change", function () {
                var box = $(this)[0];
                var is_checked = box.checked ? 1 : 0;
                $('input.lunch').each(function (index) {
                    $(this).prop('checked', box.checked);
                });
                var data_dico = {lunch: is_checked};
                update_pre_generation(data_dico);
            });

            $('#m-checkbox-dinners-all').on("change", function () {
                var box = $(this)[0];
                var is_checked = box.checked ? 1 : 0;
                $('input.dinner').each  (function (index) {
                    $(this).prop('checked', box.checked);
                });
                update_pre_generation({dinner: is_checked});
            });

            function updateMatrix(meal) {
                var is_checked = $(this)[0].checked ? 1 : 0;
                update_pre_generation({matrix: {day: index, meal: meal, val: is_checked}});
            }

        });


    </script>
{% endblock %}
