{% extends '_base.html' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Mon profil</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list table-hover">
                            {% include "profiles/guests/guest.html" with profile=user.profile%}
                        </table>
                    </div>
                </div>
            </div>

            </br>
            </br>
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb"><p></p></ol>
                        <h1>Mes convives</h1>
                    </div>
                    <div class="pull-right hidden-xs">
                        <a class="btn btn-primary btn-sm" href="{% url 'menus.views.physiology' %}" role="button">
                            <i class="fa fa-plus-circle fa-lg"></i>
                            Nouveau profil
                        </a>
                    </div>
                </div>
                <div class="main-box">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                {% for profile in guests %}
                                    <div class="profile">
                                    {% include "profiles/guests/guest.html" with profile=profile%}
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profil-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center modal-md">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('a .info').on('click', function() {
            console.log("djasbdjasbck");
            $('#profile-modal').removeData("bs.modal").find(".modal-content").html('{% url 'menus.views.profile_infos' %}');

{#            $.ajax({#}
{#                url: $(this).attr('href'),#}
{#                context: this,#}
{#                success: function(data, status) {#}
{#                    $('#profile-modal').removeData("bs.modal").find(".modal-content").html(data.responseText);#}
{#                }#}
{#            });#}
            return false;
        });

        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });
    </script>
{% endblock %}
