{% load staticfiles %}

<div class="main-box-body clearfix">
    <div class="profile-box-header green-bg clearfix" style="background-image: url(../../img/samples/nature2.jpg);">
        <img src="img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive">
        <h2>Angelina<br>Jolie</h2>
        <div class="job-position">
            Actress
        </div>
    </div>
    <div class="profile-box-content clearfix">
        <ul class="menu-items">
            <li>
                <a href="#" class="clearfix">
                    <i class="fa fa-bell-o fa-lg"></i> New notifications
                    <span class="label label-danger label-circle pull-right">82</span>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <i class="fa fa-user fa-lg"></i> Edit profile
                    <span class="label label-success label-circle pull-right">13</span>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <i class="fa fa-calendar fa-lg"></i> Calendar
                    <span class="label label-warning label-circle pull-right">12</span>
                </a>
            </li>
            <li>
                <a href="#" class="clearfix">
                    <i class="fa fa-envelope fa-lg"></i> New message
                    <span class="label label-primary label-circle pull-right">44</span>
                </a>
            </li>
        </ul>
    </div>
</div>