{% extends '_base.html' %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_overrides/modal.css' %}" />
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Mon profil</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list table-hover">
                            {% include "profiles/guests/guest.html" with profile=user_profile default=1%}
                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb"><p></p></ol>
                        <h1>Mes convives ({{ guests_nb }}) </h1>
                    </div>
                    <div class="add-profile pull-right hidden-xs">
                        <a href="{% url 'profile_new' %}"
                           role="button"
                           data-toggle="modal"
                           data-target="#profile-modal"
                           class="btn btn-primary btn-sm">
{#                        <a class="btn btn-primary btn-sm" href="{% url 'profile_new' %}" role="button">#}
                            <i class="fa fa-plus-circle fa-lg"></i>
                            Nouveau profil
                        </a>
                    </div>
                </div>
                <div class="main-box">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table id="guests" class="table user-list table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                {% for profile in guests %}
                                    {% include "profiles/guests/guest.html" with profile=profile%}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center modal-md">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
{#            $('.add-profile').on('click', 'a', function() {#}
{#                $.ajax({#}
{#                    url: $(this).attr('href'),#}
{#                    data: $(this).serialize(),#}
{#                    context: this,#}
{#                    success: function(data, status) {#}
{#                        var guests_last = "table#guests";#}
{#                        $(guests_last).find('tbody:last').append(data);#}
{#                    },#}
{#                    error:  function(data, status) {#}
{#                        location.href = '{% url 'profiles' %}';#}
{#                    }#}
{#                });#}
{#                return false;#}
{#            });#}
    </script>
{% endblock %}
