{% extends '_base.html' %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_overrides/modal.css' %}" />
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div id="content-header" class="clearfix">
            <div class="pull-left">
                <ol class="breadcrumb"><p></p></ol>
                <h1>Mon profil</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-box">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list table-hover">
                            {% include "profiles/guests/guest.html" with profile=user_profile default=1%}
                        </table>
                    </div>
                </div>
            </div>

            </br>
            </br>
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb"><p></p></ol>
                        <h1>Mes convives ({{ guests_nb }}) </h1>
                    </div>
                    <div class="pull-right hidden-xs">
                        <a class="btn btn-primary btn-sm" href="{% url 'profile_create' %}" role="button">
                            <i class="fa fa-plus-circle fa-lg"></i>
                            Nouveau profil
                        </a>
                    </div>
                </div>
                <div class="main-box">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                {% for profile in guests %}
                                    <div class="profile">
                                        {% include "profiles/guests/guest.html" with profile=profile%}
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
{#        $('.user-list').on('click', 'a', function() {#}
{#            $.ajax({#}
{#                url: $(this).attr('href'),#}
{#                data: $(this).serialize(),#}
{#                context: this,#}
{#                success: function(data, status) {#}
                    {#                    $('#signInUpModal').removeData("bs.modal").find(".modal-content").html(data);#}
{#                    $('#profile-modal').removeData("bs.modal").find(".modal-content").html(data);#}
                    {#                    $('#content-wrapper').fadeOut( 100 , function() {#}
                    {#                        $(this).html( data);#}
                    {#                        }).fadeIn( 1000 );#}
                    {#                    $('#content-wrapper').html(data);#}
{#                }#}
{#            });#}
{#            return false;#}
{#        });#}
{##}
{#        $(document).on("hidden.bs.modal", function (e) {#}
{#            $(e.target).removeData("bs.modal").find(".modal-content").empty();#}
{#        });#}
    </script>
{% endblock %}
