{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href='{% static 'bootstrap_overrides/form_errors.css' %}' />
{% endblock %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">
        Ajouter un nouveau profil
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="profile_new-form" action="{% url 'profile_new' %}" method="POST">
            {% if form.errors %}
                <p class="danger">
                    {{ form.error_messages }}
                </p>
            {% endif %}
            {% csrf_token %}
            {{ form.as_table }}
        </br>
        <div class="control-group">
            <div class="controls text-right">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </form>
</div>

{% block js %}
    <script>
        $('.modal-body').on('submit', '#profile_new-form', function() {
            $.ajax({
                is_allowed: false,
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    $('#profile-modal').modal('hide');
                    var guests_table = $("table#guests");
                    guests_table.find('tbody:first').prepend(data);
                },
                error:  function(data, status) {
                    $('#profile-modal').removeData("bs.modal").find(".modal-content").html(data.responseText);
                }
            });
            return false;
        });
        $(document).on("hidden.bs.modal", function (e) {
            $(e.target).removeData("bs.modal").find(".modal-content").empty();
        });
    </script>
{% endblock %}
