{% extends '_base.html' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Profil(s)</h2>
        </div>
        <div class="panel-body">
             <a class="btn btn-primary btn-lg" href="{% url 'menus.views.physiology' %}" role="button">Créer nouveau profil &raquo;</a>
        </div>
        <div class="panel-footer">
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".dropdown-menu li a").click(function(){
                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).text());
            });
        });
    </script>
{% endblock %}