{% extends '_base.html' %}
{% load staticfiles %}

{% block content %}
    <h2>Visualisation des données</h2>

    <div class="row">
        <label for="difficultyDoughnutChart">Difficulté des recettes</label>
        <canvas id="difficultyDoughnutChart" width="200" height="200"></canvas>
        <label for="mealTypesDoughnutChart">Catégories de recettes</label>
        <canvas id="mealTypesDoughnutChart" width="200" height="200"></canvas>
    </div>
    <div class="row">
        <canvas id="ingredientFamiliesBarChart" width="800" height="600"></canvas>
    </div>
    <div class="row">
        {% for pic in pics %}
        <div class="col-xs-6 col-md-3">
            <p><img class="img-thumbnail" width="171" height="180" src="{{ pic }}"/></p>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'vendor/js/Chart.min.js' %}"></script>
    <script>
        var data_difficulty = [
            {
                value: {{ nb_very_easy }},
                color:"#33CC33",
                highlight: "#70DB70",
                label: "Très Facile"
            },
            {
                value: {{ nb_easy }},
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Facile"
            },
            {
                value: {{ nb_medium }},
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Moyenne"
            },
            {
                value: {{ nb_difficult }},
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Difficile"
            }
        ];
        var ctxDPC = $("#difficultyDoughnutChart").get(0).getContext("2d");
        new Chart(ctxDPC).Doughnut(data_difficulty);

        var data_categories = [
            {
                value: {{ cat_amuse_gueule }},
                color:"#33CC33",
                highlight: "#70DB70",
                label: "Amuse-gueule"
            },
            {
                value: {{ cat_confiserie }},
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Confiserie"
            },
            {
                value: {{ cat_accompagnement }},
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Accompagnement"
            },
            {
                value: {{ cat_conseil }},
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Conseil"
            },
            {
                value: {{ cat_dessert }},
                color:"#99CC00",
                highlight: "#A3D119",
                label: "Dessert"
            },
            {
                value: {{ cat_entree }},
                color:"#007A7A",
                highlight: "#008A8A",
                label: "Entrée"
            },
            {
                value: {{ cat_sauce }},
                color:"#9900FF",
                highlight: "#A319FF",
                label: "Sauce"
            },
            {
                value: {{ cat_boisson }},
                color:"#3333FF",
                highlight: "#4747FF",
                label: "Boisson"
            },
            {
                value: {{ cat_plat_principal }},
                color:"#FF3300",
                highlight: "#FF4719",
                label: "Plat principal"
            }
        ];
        var ctxPPC = $("#mealTypesDoughnutChart").get(0).getContext("2d");
        new Chart(ctxPPC).Doughnut(data_categories);

        var data_ingred_families = {
            labels: [{% for f in families %}"{{ f }}",{% endfor %}],
            datasets: [
                {
                    label: "Ingredient families",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [{% for a in amount %}"{{ a }}",{% endfor %}]
                }
            ]
        };
        var ctxPPC = $("#ingredientFamiliesBarChart").get(0).getContext("2d");
        new Chart(ctxPPC).Bar(data_ingred_families);
    </script>
{% endblock %}
