<div id="login_view" ng-controller="LoginController">
    <div id="login-box">
        <div id="login-box-holder">
            <header id="login-header">
                <div id="login-logo">
                    <img src="static/img/logo.png" alt=""/>
                </div>
            </header>

            <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
                <div id="login-box-inner">

                    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
                    <div class="alert alert-danger" ng-if="error">{{error}}</div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" name="username" id="id_username" type="text" ng-model="model.username"  placeholder="Identifiant" required />
                    </div>
                    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input class="form-control" name="password" id="id_password" type="password" ng-model="model.password" placeholder="Mot de passe"  required />
                    </div>
                    <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>

                    <div id="remember-me-wrapper">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="checkbox-nice">
                                    <input type="checkbox" id="remember-me" checked="checked"/>
                                    <label for="remember-me">Se rappeler de moi</label>
                                </div>
                            </div>
                            <a href="#/forgot-password" id="login-forget-link" class="col-xs-6">
                                Mot de passe oublié ?
                            </a>
                        </div>
                    </div>

                <button class="btn btn-sm btn-warning" type="button" ng-click="cancel()">Annuler</button>
                <button type="submit" class="btn btn-sm btn-success">Se connecter</button>
                    </div>
            </form>
        </div>
    </div>
</div>
