/*body {*/
    /*padding-top: 70px;*/

/*}*/

/*.input-group > .input-group-btn:last-child > .selectpicker {*/
    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*border-top-left-radius: 0px;*/
/*}*/

/*.input-group > .input-group-btn:first-child > .selectpicker {*/
    /*border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-top-left-radius: 0px;*/
/*}*/

div.regime {
    margin-top: 20px;
}

div.regime_desc {
    margin-top: 8px;
    margin-bottom: 25px;
    color: #7F8C97;
}

.fill {
    min-height: 100%;
    height: 100%;
}

h5.recipe-title, .unlike-recipe-form {
    margin: 20px 0;
}

.recipe-title-container {
    height: 80px;
}

.unlikes-relike:hover{
    text-decoration: underline;
    color: #006611;
}

.btn-details {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

